<!DOCTYPE html>
<html>
  <head>
    <title>Library</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/menu' %>
      <div class="container-fluid">
        <div class="row">          
          <main>
            <div class="bg-light p-5 rounded <%= controller.controller_name %>">
              <%= yield %>
            </div>
          </main>
        </div>
      </div>
  </body>
</html>
